body {
    position: relative;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2; /* Ensure the UI is above the 3D scene */
}

button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3; /* Ensure buttons are above the UI */
}

a-scene {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1; /* Set a lower value to place it behind the UI elements */
}

#aframe-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1; /* Set a lower value to place it behind the UI elements */
}
